.conatiner{
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 50px;
    background: #fff;
    width: 400px;
    height: 450px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:9px;
    width:100%;
    margin-top:20px;
}
.text{
    color: #3c009d;
    font-size: 28px;
    font-weight: 700;
}
.underline{
    width: 31px;
    height: 6px;
    background:#3c009d;
    border-radius: 9px;
}
.inputs{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
.input{
    display: contents;
    align-items: center;
    margin: auto;
    width: 240px;
    height: 40px;
    background: #db9c9c;
    border-radius: 6px;
}
.input input{
    height: 40px;
    width:400px ;
    background: transparent;
    border: none;
    outline: none;
    font-size: 19px;
    color: #797979;
}
.forgot-password{
    padding-left: 62px;
    margin-top: 27px;
    color: #797979;
    font-size: 18px;
}
.forgot-password span{
    color: #4c00b4;
    cursor: pointer;
}
.submit-container{
    display: flex;
    gap: 30px;
    margin: 60px auto;
}
.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 45px;
    color: #fff;
    background-color: #4c00b4;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 450;
    cursor: pointer;
}
.gray{
    background-color: #eaeaea;
    color: #676767;
}